@model System.Data.DataTable
@{
    ViewData["Title"] = "List of Staff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

</script>

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<div>
     <div class="row">
       <div class="col-2">
            <a asp-action="AddOrEdit" class="btn btn-primary">New Staff</a><br/><br/>
       </div>
       <div class="col-7">
                         
       </div>
       <div class="col-3">
            <input class="form-control" id="" type="text" placeholder="Search..">
       </div>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Line1
            </th>
            <th>
                Line2
            </th>
            <th>
                DoB
            </th>
            <th>
                Sex
            </th>
            <th>
                NIC
            </th>
            <th>
                Email
            </th>
            <th>
                User Role
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

       @for (int i = 0; i < Model.Rows.Count; i++)
        {

            <tr>
                <td>
                    @Model.Rows[i]["FirstName"]
                </td>
                <td>
                    @Model.Rows[i]["LastName"]
                </td>
                <td>
                    @Model.Rows[i]["Line1"]
                </td>
                <td>
                    @Model.Rows[i]["Line2"]
                </td>
                <td>
                    @Model.Rows[i]["DoB"]
                </td>
                <td>
                    @Model.Rows[i]["Sex"]
                </td>
                <td>
                    @Model.Rows[i]["NIC"]
                </td>
                <td>
                    @Model.Rows[i]["Email"]
                </td>
                 <td>
                    @Model.Rows[i]["RoleName"]
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[i]["StaffId"]" class="btn btn-success">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Rows[i]["StaffId"]" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }     
    </tbody>
</table>
